*{
    margin: 0%;
    padding: 0%;
}
:root {
    --primary-coloer:#1E3A8A;
    --off-white: hsla(220, 14%, 96%, 0.898);
    --dark-gray: #6B7280;
}


body {
    background-color:var(--dark-gray);
    /* font-family: cursive; */
    margin: 4px;
    box-sizing: border-box;
    background-color: var(--off-white);
    font-size: 150%;
   
}


.OutputShow{
   color: white;
   font-size: xx-large;
   font: bold;
}




.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.4rem 2rem;

}



.list-item-inline {
    display: inline;
    padding: 1rem 0.5rem;
}


/* navigation */

.navigation {

    color: white;
    padding: 3rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 3.1rem;
    font-family: "Megrim", cursive;
}


.navigation .nav-pills {
    text-align: right;

}

/* about home ke text ka coloer change karne ke liye */
.navigation .link {
    color: white;
}


.navigation .link-active {
    font-weight: bold;
    font-size: x-large;
}



.main {
    margin: 4rem;
    text-align: center;
}

 /* Angles of triangles */ 
.angles-input {
   font-size: 14px;
   outline: #fff;
   padding: 0.6rem 1rem;
   margin: 1rem;
   border: 2px solid var(--primary-coloer);
   border-radius: 0.5rem;
   width: 100%;
   max-width: 258px;
   margin: auto;
   margin-bottom: 0%;
   /* margin-top: 3rem; */

} 

.rrr{
    height: 100px;
    width: 100px;
}

a,
img {
    height: 70px;
    width: 70px;
    margin-top: 1px;

    
}


.footer-header{
   color:white;
   font-size: xx-large;
   margin-bottom: 5%;

}
footer {
   margin-top: 10rem;
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-origin: padding-box;
   color: wheat;
   font-size: large;
   margin-top: 20rem;
   padding: 3rem;
   border-bottom-left-radius: 1rem;
   background-image: url(66.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: cover; 
   position: relative; 
   overflow-y: auto; 

}

nav{
   background-image: url(66.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: cover; 
   position: relative; 
   overflow-y: auto; 
  


}
/* Hypotenuse */
h1 {
    text-align: center;
    margin-top: 3rem;
}

.side-input {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-coloer);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
    margin: auto;
    display: flex;
    margin-top: 3rem;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}

.Output {
    text-align: center;
    margin-top: 1rem;
}


h3 {
    text-align: center;
}
/* Area of a triangle */
.side-of-triangle {

    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-coloer);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
    margin: auto;
    margin-bottom: 0%;
    margin-top: 2%;

}
.pp{
    margin-top: 2rem;
    color: black;
}
label{
    font-size: x-large;
    margin-top: 5rem;
    color:var(--primary-coloer);
}

p {
    font-size: xx-large;
    color: var(--primary-coloer);
    text-align: center;
    margin-top: 1rem;
    padding: 0.7rem 2rem;
}

.calculate-area-main {
    text-align: center;
    margin-top: 8%;
}

.button {
    background-color: var(--primary-coloer);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: 1rem auto;
    display: flex;
    margin-top: 3rem;

}

/* All output */
.Output {
    font-size: xx-large;
    font: bolder;
    margin-top: 2rem;
    font-family: 'kalam', cursive;
    color: blue;
}


link .link-active{
   font-size: bold;

   
}
.side{
    margin-top: 5%;
}